


    <!-- Card 1-->
<div class="card">
  <div class="view overlay">
    <img class="card-img-top" src="/assets/garmntShow/pant-back.svg" alt="Card image cap" (click)="addOnClick($event)">
  </div>
  
  <!-- Card content -->
  <div class="card-body">
  
   
    <!-- Button -->
    <a href="javascript:void(0)" class="btn btn-primary" (click)="submit()">Button</a>
  
  </div>
  </div>

 <!-- Card 1-->
<div class="card">
  <div class="view overlay">
    <img class="card-img-top" src="/assets/garmntShow/pant1-back.svg" alt="Card image cap" (click)="addOnClick($event)">
  </div>
  
  <!-- Card content -->
  <div class="card-body">
  
   
    <!-- Button -->
    <a href="javascript:void(0)" class="btn btn-primary" (click)="submit()">front</a>
    <a href="javascript:void(0)" class="btn btn-primary" (click)="submit()">back</a>
  </div>
  </div>


<!-- Card -->
<!-- <div *ngFor="let i of result" > -->
    <div class="card">

        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="/assets/garmntShow/bra3.front.svg" alt="Card image cap" (click)="addOnClick($event)">
          <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
        </div>
      
        <!-- Card content -->
        <div class="card-body">
          
          <!-- Button -->
          <a href="javascript:void(0)" class="btn btn-primary" (click)="submit()">back</a>
      
      
      
        </div>
      
      </div>
      
      
  
