
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<div class="w3-sidebar w3-bar-block w3-gray" style="width:20%">
    <a routerLink="./bra" routerLinkActive="active" (click)="onClickEvent()" class="w3-bar-item w3-button w3-padding-16">view graph</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-24">Add Quality Checker</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-32">Warning message</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-32">Upload Intimates images</a>
    <!-- <button mat-raised-button (click)="openDialog()">Pick one</button> -->
  </div>
 
 <div class="text-right"> 
<button mat-raised-button (click)="openDialog()">Settings</button>
</div> 
<div class="text-right"> 
    <button mat-raised-button (click)="openDialog1()">Update Details</button>
    </div> 